@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    scroll-behavior: smooth;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    scroll-behavior: smooth;
}

*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}